
<!DOCTYPE html>
<html>
<head>
  <title>Smartipants</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

   <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script>$(document).ajaxSend(function(e, xhr, options) {
 var token = $("meta[name='csrf-token']").attr("content");
  xhr.setRequestHeader("X-CSRF-Token", token);
});</script>
</head>
<body>

  <nav class="nav navbar-default" role="navigation" id='main-navbar'>
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SmartiPants</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#"> New Game </a></li>
        </ul>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
        <% unless session[:user_id] %> 
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign Up <b class="caret"></b></a>
                  <div class="dropdown-menu" style="padding:17px;">
                    <%= form_for User.new, url: '/users', method: :post do |u| %>
                        <%= u.text_field :username, class:"form-control", placeholder:"Username" %>
                        <%= u.text_field :email, class:"form-control", placeholder:"Email" %>
                        <%= u.text_field :password, class:"form-control", type:"password", placeholder:"Password" %>
                        <%= u.text_field :password_confirmation, class:"form-control", type:"password", placeholder:"Confirm Password" %>
                        <%= u.submit class:"btn" %>
                    <% end %>
                  </div>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                  <div class="dropdown-menu" style="padding:17px;">
                    <%= form_for User.new, url: '/users/login', method: :post do |u| %>
                        <%= u.text_field :email, class:"form-control", placeholder:"Email" %>
                        <%= u.text_field :password, class:"form-control", type:"password", placeholder:"Password" %>
                        <%= u.submit class:"btn" %>
                    <% end %>
                  </div>
              </li>
        <% else %>
            <li><a href="#">Profile</a></li>
            <li><a href="/users/logout" id='logout'>Logout</a></li>
        <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<%= yield %>
    
</body>
</html>

