
<!DOCTYPE html>
<html>
<head>
  <title>Smartipants</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

   <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script>$(document).ajaxSend(function(e, xhr, options) {
 var token = $("meta[name='csrf-token']").attr("content");
  xhr.setRequestHeader("X-CSRF-Token", token);
});</script>
</head>
<body data-no-turbolink>

  <nav class="nav navbar-default" role="navigation" id='user-navbar'>
    <% if session[:user_id] %>
      <%= render "users/userin" %>
    <% else %>
      <%= render "users/nouser" %>
    <% end %>
  </nav>


<%= yield %>
    
</body>
</html>

