<!DOCTYPE html>
<html>
<head>
  <title>Smartipants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
        <%= link_to 'Profile', root_path, class: "btn btn-primary" %>
        <%= link_to 'New Game', games_play_path, class: "btn btn-primary" %>
        <%= link_to 'Log In/Sign up', users_login_path, class: "btn btn-primary", :method => :add,  :id => "login"  %>
        <a href="" id="login" class= "btn btn-primary" >Log in/Sign up</a>
        <input class="form-control"  type="textarea" name="email" placeholder="email"></input>
        <input class="form-control" type="textarea" name="password" placeholder="password"></input>
        <input type="submit" value="submit" class= "btn btn-primary">
  </nav>

<%= yield %>

</body>
</html>
